*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact{
    /* position: relative; */
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(110, 95, 95);
    background-size: cover;
}
.contact .content-contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content-contact p{
    font-weight: 300;
    color: aliceblue;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contain .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contain .contactInfo .box{
    /* position: relative; */
}
.contain .contactInfo .box .icon{
    width: 56px;
    height: 56px;
    background: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    font-size: 22px;
}
.contain .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contain .contactInfo .box .text h3{
    font-weight: 500;
    color: #224992;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    /* position: relative; */
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox .input,
    .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
}
.contactForm .inputBox span{
    /* position: absolute; */
    margin-left: 20px;
    padding: 1px 0;
    margin-right: 7px;
    left: 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #224992;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .submit{
    width: 100px;
    background: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .contain{
        flex-direction: column;
    }
    .contain .contactInfo{
        margin-bottom: 40px;
    }
    .contain .contactInfo,
    .contactForm{
        width: 100%;
        
    }
}