* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.content {
    margin: 48px 10%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content h5 {
    padding: 20px 40px;
}

@media screen and (max-width: 768px) {
    .content {
        margin: 48px 5%;
    }
}

@media screen and (max-width: 480px) {
    .content {
        margin: 48px 2%;
    }
}

.img-container {
    margin: 30px;
    width: 90%;
    height: 35rem;
    padding: 15px;
    background-color: rgb(252, 250, 250);
    box-shadow: 10px 10px 5px rgb(177, 232, 250);
}
.img-container img{
    width: 100%;
    height: 510px;
    margin-top: 30px;
}